/*** FONT ***/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/curp/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../fonts/curp/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../fonts/curp/MaterialIcons-Regular.woff) format('woff'),
       url(../../fonts/curp/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

/* page */

#page {
	display: -webkit-flex;
	-webkit-flex-flow: column;
	display: flex;
	flex-flow: column;
}

#topbar {
	/*height: 50px;*/
	-webkit-flex: 0 1 50px;
	flex: 0 1 50px;
}

#content {
	/*height: 100%;*/
	width: 100%;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	margin: 0px;
	margin-top: 50px;
}

#leftnavMenu {
	padding:10px;
}
#leftnavMenu ul {
    list-style-type: none;
}
#leftnavMenu ul li i{
    margin-top: 10px;
    vertical-align: text-bottom;
}
#leftnavMenu ul li span{
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: text-bottom;
}

#rightnavMenu {
	padding:10px;
	float:right;
	background-color:#1eafd9;
	border-left: solid black 1px;
	height: 100%;
}


/* design */

h1 {
	color:#222;
}

a {
	text-decoration: none;
	color:blue;
}

a.active {
	text-decoration: none;
	color:#222;
	font-weight: bold;
}

a.first-item {
	margin-left: 100px;
}

.plus {
	font-size: 800%;
	font-weight: bold;
}

.plus-small {
	font-size: 400%;
	font-weight: bold;
}

.plus-tiny {
	font-size: 200%;
	font-weight: bold;
}

.close {
	margin: 10px;
	margin-right: 20px;
	float: right;
}

.close-header {
	float:left;
	padding:10px;
	font-size: 200%;
}

.menu {
	visibility: hidden;
	position: absolute;
	padding:10px;
	background-color:#eeeeee;
	border:solid grey 2px;
	font-size: 200%;
	z-index:100;
}

.menu-container {
	padding:10px;
}

.menu-list {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.menu-item {
	border:solid #eeeeee 2px;
	margin:3px;
	padding:3px;
	background-color:#dddddd;
	cursor: pointer;
}
.menu-cancel {
	cursor: pointer;
}

/* header elements */
.curp-header-name {
	display: inline-block;
	vertical-align:text-bottom;
	margin:10px;
}

.curp-header-name img{
	margin-bottom:-5px;
}

.curp-header-course {
	display: inline-block;
	vertical-align:text-bottom;
	margin:10px;
	margin-left:20px;
	font-size:1.2em;
	font-weight: bold;
	text-transform: uppercase;
}

.curp-header-curriculum {
	display: inline-block;
	vertical-align:text-bottom;
	margin:10px;
	font-size:1.0em;
}

.curp-header-curriculum-selection {
	margin:16px;
	margin-left:20px;
}

/* content elements */
/* NOTE: the left-content is put inside the center-content to be able to show menu */
.curp-content-left {
	background-color:white;
	float:left;
	margin:0px;
	width:200px;
	height:100%;
	border-right:solid #dddddd 2px;
}

.curp-content-center {
	background-color:white;
	float:left;
	/*display: inline-block;*/
	margin:0px;
	width:79%;
	height:100%;
	overflow-y:scroll;
}

.curp-content-right {
	background-color:white;
	float:right;
	margin:0px;
	height:100%;
	width:20%;
	border-left:solid #dddddd 2px;
	overflow-y:scroll;
}

.curp-section-header {
	padding:10px;
	background-color:#dddddd;
}
 
/* content: curriculum */
.curp-content-curriculum-container {
	margin:10px;
	margin-left:20px;
	/*overflow-y:scroll;*/
}

.curp-content-curriculum-item {
	float:left;
	margin:10px;
	width:100px;
	height:150px;
	border:solid grey 1px;
	background-image: url(../../gfx/curp/blue-background.png);
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.curp-content-curriculum-item-title {
	padding: 5px;
	/*background:rgba(50, 50, 50, 0.2);*/
	background:rgba(30, 175, 217, 0.4);
	color: white;
	width: 90px;
}

.curp-content-curriculum-item-actions {
	padding: 5px;
	/*background:rgba(50, 50, 50, 0.2);*/
	color: white;
	position: absolute;
	bottom: 0px;
	text-align: right;
	width: 90px;
}

/*
.curp-content-curriculum-item a{
    display:inline-block;
	width:100%;
	height:100%;
}
*/

/* content: course */
.curp-content-course-container {
	margin:10px;
	margin-top: 20px;
	/* compensate for the left-content */
	margin-left: 250px;
	margin-right: 100px;
	/*curp-content-center already overflows*/
	/*overflow-y:scroll;*/
}
.curp-content-course-container-full {
	margin:10px;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.curp-content-course-item {
	margin:10px;
	margin-bottom:30px;
	/*width:600px;*/
	/*height:100px;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	display: -webkit-flex;
	-webkit-flex-flow: row;
	display: flex;
	flex-flow: row;
}

.curp-content-course-item-text {
	margin:10px;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}

.curp-content-course-item-title {
	/* pointer-events used to be able to click on the underlying div */
	pointer-events:none;
	padding:10px;
	color: white;
	font-weight: bold;
	font-size: 150%;
}

.curp-content-course-item-description {
	/* pointer-events used to be able to click on the underlying div */
	pointer-events:none;
	padding:10px;
	color: white;
}

.curp-content-course-item-actions {
	padding:10px;
	padding-top: 20px;
	/*background:rgba(50, 50, 50, 0.2);*/
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.curp-content-course-item-actions2 {
	padding:10px;
	/*background:rgba(50, 50, 50, 0.2);*/
	color: black;
	text-align: center;
	-webkit-flex: 0 1 50px;
	flex: 0 1 50px;
}

.curp-content-course-new {
	margin:10px;
	height: 100%;
}

.curp-content-course-table {
	margin-top:20px;
	border-collapse: collapse;
}
	
.curp-content-course-table, .curp-content-course-table > tbody > tr > td, .curp-content-course-table > thead > tr > th {
	border: 1px solid #222;
}

.curp-content-course-table > thead {
	background-color: grey;
}

.curp-content-course-table > tbody > tr > td, .curp-content-course-table > thead > tr > th {
	padding: 5px;
}

.curp-content-course-table-seperator {
	background-color: lightgrey;
}

/* content: week */
.curp-content-week-container {
	margin-top:0px;
	width: 100%;
	clear: right;
}

.curp-week-new {
	margin:0px;
}

.curp-content-week-item-unselected {
	font-size: 150%;
	font-weight: bold;
	margin:0px;
	width:100%;
	/*height:50px;*/
	border-bottom:solid #eeeeee 1px;
	cursor: pointer;
}

.curp-content-week-item-unselected:hover {
	background-color: #eeeeee;
}

.curp-content-week-item-selected {
	font-size: 150%;
	font-weight: bold;
	margin:0px;
	width:100%;
	/*height:50px;*/
	border-bottom:solid #eeeeee 1px;
	background-color: #eeeeee;
}

.curp-content-week-item-less {
}

.curp-content-week-item-more {
	display:none;
}

.curp-content-week-item-more-element {
	text-align: right;
	padding: 10px;
	font-weight: normal;
	/*text-transform: uppercase;*/
}

/* week dialog */
.curp-content-week-dialog-content {
	display: -webkit-flex;
	-webkit-flex-flow: column;
	display: flex;
	flex-flow: column;
	height: 100%;
	padding: 20px;
}

.curp-content-week-dialog-title {
	-webkit-flex: 0 1 50px;
	flex: 0 1 50px;
	font-weight: bold;
	font-size: 150%;
}

.curp-content-week-dialog-options {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	overflow-y:auto;
}

.curp-content-week-dialog-actions {
	text-align: right;
	-webkit-flex: 0 1 50px;
	flex: 0 1 50px;
	font-weight: bold;
	text-transform: uppercase;	
}

.curp-content-week-dialog-unselected {
	font-size: 150%;
	font-weight: bold;
	margin:0px;
	width:100%;
	border-bottom:solid #eeeeee 1px;
	cursor: pointer;
}

.curp-content-week-dialog-unselected input {
	margin: 20px;
}

.curp-content-week-dialog-unselected:hover {
	background-color: #eeeeee;
}

.curp-content-week-dialog-selected {
	font-size: 150%;
	font-weight: bold;
	margin:0px;
	width:100%;
	border-bottom:solid #eeeeee 1px;
	background-color: #eeeeee;
}

/* content: card */
.curp-content-card-list {
	margin:10px;
}

.curp-content-card {
	margin:10px;
	padding:10px;
	width:100px;
	height:100px;
}
.curp-content-card a{
    display:inline-block;
	width:100%;
	height:100%;
	color:white;
	font-weight:bold;
}

.curp-content-card-container {
	margin:10px;
	height:100%;
	/*height:390px;*/
	/*min-height:450px;*/
	/*overflow-y:auto;*/
}

.curp-content-card-item {
	float:left;
	margin:10px;
	padding:10px;
	width:150px;
	height:150px;
	border:solid grey 2px;
}
.curp-content-card-item a{
    display:inline-block;
	width:100%;
	height:100%;
	color:white;
	font-weight:bold;
}

.orange-card {
	background-color:orange;
}
.blue-card {
	background-color:blue;
}
.green-card {
	background-color:green;
}
.grey-card {
	background-color:grey;
}
.pink-card {
	background-color:pink;
}

.orange-line {
	border:solid orange 2px;
}
.blue-line {
	border:solid blue 2px;
}
.green-line {
	border:solid green 2px;
}
.grey-line {
	border:solid grey 2px;
}
.pink-line {
	border:solid pink 2px;
}

.curp-content-card-edit {
	margin:10px;

}
