/* the html/body of the app consist of
 * - topbar
 * - pagescroller (content)
 * - bottombar
 * - actionbutton
 * - leftnav
 * - rightnav
 * - filter
 * - dialog
 * - overlay
 * 
 * the page scroller is a container for
 * - page
 * - transition
 * - store
 * 
 * a page for an app contains 1 pane
 * - content

 */
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

/* body split in topbar and pagecontainer for native scrolling on iOS... */
#topbar {
	/* fixed header */
	display: none;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

#pagescroller {
	width: 100%;
	height: 100%;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
}

/* add bottombar, but i never used it... */
#bottombar {
	/* fixed footer */
	display: none;
	position: fixed;
	width: 100%;
	top: 0px; /*todo: calculate this later */
	left: 0px;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

/* floating elements */
#actionbutton, #leftnav, #rightnav, #filter, #dialog, #overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}
#actionbutton {
	width: 48px;
	height: 48px;
}
#rightnav {
	width: 100%;
}

#leftnav, #rightnav {
	min-width: 200px;
	height: 100%;
}
#overlay {
	width: 40%;
	left: 30%;
}
#dialog {
	width: 40%;
	height: 60%;
	left: 30%;
	top: 20%;
}
#filter {
	width: 100%;
	height: 100%;
}

/* the page is the body */
/* transformations to use for iOS,  but also for HWA */
#page {
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}
#transition {
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}
#store {
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

/* these are loading containers that transform into a page */
#page, #transition, #store {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
#transition, #store {
	display: none;
}

/* the content is in the center */
#content {
	width: 100%;
	height: 100%;
}
